<DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel='stylesheet' href='../prismjs/themes/prism-twilight.css'>
		<link rel='stylesheet' href='../styles/main.min.css'>
		<link rel='stylesheet' href='../prod/styles/main.min.css'>
	</head>

	<body>
		
		<% include ../shared/nav %>
		<div class='component-page-wrapper'>
			<div class='component-page-header'>
				<h1>Components</h1>
				<p>Components are individually consumable Javascript plugins</p>
			</div>

			<div class='component-page-tab-bar'>
				<!-- <div class='component-page-tab-link'>
					<a href='/'>
						<button>
							<span>Accordian</span>
						</button>
					</a>
				</div>

				<div class='component-page-tab-link'>
					<a href='/'>
						<button>
							<span>Autocomplete</span>
						</button>
					</a>
				</div>

				<div class='component-page-tab-link'>
					<a href='/'>
						<button>
							<span>Carousel</span>
						</button>
					</a>
				</div>

				<div class='component-page-tab-link'>
					<a href='/'>
						<button>
							<span>Lightbox</span>
						</button>
					</a>
				</div> -->

				<div class='component-page-tab-link'>
					<a href='/'>
						<button>
							<span>Modals</span>
						</button>
					</a>
				</div>

				<div class='component-page-tab-link'>
					<a href='/components/menu'>
						<button>
							<span>Menus</span>
						</button>
					</a>
				</div>

				<div class='component-page-tab-link'>
					<a href='/components/notifications'>
						<button>
							<span>Notifications</span>
						</button>
					</a>
				</div>

				<!-- <div class='component-page-tab-link'>
					<a href='/'>
						<button>
							<span>Progress Bars</span>
						</button>
					</a>
				</div>

				<div class='component-page-tab-link'>
					<a href='/'>
						<button>
							<span>Sidenav</span>
						</button>
					</a>
				</div> -->
			</div>
		</div>

		<div class='component-info'>
			<div class='component-directory'>
				<ul>
					<li data-scroll='component-description'>Description</li>
					<li data-scroll='component-usage'>Default Usage</li>
					<li data-scroll='component-positioning'>Positioning</li>
					<li data-scroll='component-classes'>Class Options</li>
					<li data-scroll='component-configuration'>Configuration</li>
				</ul>
			</div>
		</div>