<DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel='stylesheet' href='./styles/main.min.css'>
		<link rel='stylesheet' href='./prod/styles/main.min.css'>
	</head>

	<body>
		
		<% include ../shared/nav %>
		<div class='started-header'>
			<h1>Guides</h1>
			<p>Here you will find some things to help get you up and running with Softserve</p>
		</div>
	</body>
</html>