.nav
	position: relative
	z-index: 50
	height: 70px
	width: 100%
	background: transparent

.nav-content-wrapper
	display: flex
	align-items: stretch
	position: relative
	height: 70px
	width: 95%
	margin: 0 auto

.nav-left
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-start

.nav-right
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-end

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 10px

	button
		position: relative
		border: none
		background: none

		> span
			@include quick()
			font-weight: 400
			font-size: 16px
			color: #f8f8f8
			letter-spacing: 2px

	.nav-link
		display: none

.nav-logo
	p
		@include lato()
		font-weight: 400
		font-size: 16px
		letter-spacing: 2px
		color: #fff

.hamburger
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	overflow: hidden

	span
		display: block
		position: relative
		top: 10px
		left: 10px
		margin: 10px 0
		width: 30px
		height: 3px
		background: #fff
		transition: transform 0.4s ease-out

		&:nth-child(1)
			transition-delay: .4s

		&:nth-child(2)
			transition-delay: .525s

		&:nth-child(3)
			transition-delay: .75s

.cross
	position: absolute
	height: 100%
	width: 100%
	top: 8px
	right: 20px
	transform: rotate(45deg)
	overflow: hidden

	span
		transition: transform 0.4s ease-out

		&:nth-child(1)
			position: absolute
			top: 4%
			left: 23px
			width: 3px
			height: 60%
			transition-delay: .25s
			transform: translateY(200%)


		&:nth-child(2)
			position: absolute
			left: 10%
			top: 20px
			width: 60%
			height: 3px
			transition-delay: .4s
			transform: translateX(140%)

.nav-menu
	height: 50px
	width: 50px

	button
		height: 70px
		width: 70px

	.mobile-open
		.hamburger
			span

				&:nth-child(1)
					transform: translateX(-140%)
					transition-delay: 0s

				&:nth-child(2)
					transition-delay: .125s
					transform: translateX(-140%)

				&:nth-child(3)
					transition-delay: .25s
					transform: translateX(-140%)

		.cross
			span
				background: #fff
				transition: transform 0.4s ease-out

				&:nth-child(1)
					height: 55%
					transition-delay: .7s
					transform: none

				&:nth-child(2)
					width: 80%
					transition-delay: .8s
					transform: none



@media screen and (min-width: 1000px)
	.nav-content-wrapper
		width: 80%

	.nav-item
		.nav-link
			display: block

			button
				span
					font-size: 18px

		.nav-menu
			display: none

	.nav-logo
		p
			font-size: 22px
