.nav
	position: relative
	z-index: 50
	height: 70px
	width: 100%
	background: transparent

.nav-content-wrapper
	display: flex
	align-items: stretch
	position: relative
	height: 70px
	width: 95%
	margin: 0 auto

.nav-left
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-start

.nav-right
	display: flex
	flex: 1
	flex-basis: 0
	align-items: center
	justify-content: flex-end

.nav-item
	display: flex
	align-items: center
	justify-content: center
	padding: 10px

	button
		border: none
		background: none

		span
			@include quick()
			font-weight: 400
			font-size: 16px
			color: #f8f8f8
			letter-spacing: 2px

	.nav-link
		display: none

.nav-logo
	p
		@include lato()
		font-weight: 400
		font-size: 16px
		letter-spacing: 2px
		color: #fff

@media screen and (min-width: 1000px)
	.nav-content-wrapper
		width: 80%

	.nav-item
		.nav-link
			display: block

			button
				span
					font-size: 18px

		.nav-menu
			display: none

	.nav-logo
		p
			font-size: 22px
