<nav class='nav'>
	<div class='nav-content-wrapper'>
		<div class='nav-left'>
			<div class='nav-item'>
				<button class='nav-logo'>
					<p>Softserve</p>
				</button>
			</div>
		</div>

		<div class='nav-right'>
			<div class='nav-item'>
				<button>
					<span>Getting Started</span>
				</button>
			</div>

			<div class='nav-item'>
				<button>
					<span>Styles</span>
				</button>
			</div>

			<div class='nav-item'>
				<a href='/components'>
					<button>
						<span>Components</span>
					</button>
				</a>
			</div>

			<div class='nav-item'>
				<button>
					<span>Utilities</span>
				</button>
			</div>
		</div>
	</div>
</nav>
