<nav class='nav'>
	<div class='nav-content-wrapper'>
		<div class='nav-left'>
			<div class='nav-item'>
				<button class='nav-logo'>
					<p>Softserve</p>
				</button>
			</div>
		</div>

		<div class='nav-right'>
			<div class='nav-item'>
				<a href='/getting-started' class='nav-link'>
					<button>
						<span>Getting Started</span>
					</button>
				</a>
			</div>

			<div class='nav-item'>
				<a href='/styles' class='nav-link'>
					<button>
						<span>Styles</span>
					</button>
				</a>
			</div>

			<div class='nav-item'>
				<a href='/components' class='nav-link'>
					<button>
						<span>Components</span>
					</button>
				</a>
			</div>

			<div class='nav-item'>
				<a href='/utilities' class='nav-link'>
					<button>
						<span>Utilities</span>
					</button>
				</a>
			</div>

			<div class='nav-item nav-menu'>
				<button>
					<div class='hamburger'>
						<span></span>
						<span></span>
						<span></span>
					</div>

					<div class='cross'>
						<span></span>
						<span></span>
					</div>
				</button>
			</div> 
		</div>
	</div>
</nav>
