.menu-bar
	width: 100%
	height: 60px
	padding-left: 25px
	background: #aaa

	button
		background: none
		border: none
		@include quick()
		font-weight: 400
		letter-spacing: 2px
		font-size: 14px
		color: #fff
		height: 60px